body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1cm;
    color: green;
    background-color: black;
    border: 2px solid powderblue;
    width: 50%;
    align-items: center;

}

div.botao{
    color:black;
    background-color: burlywood;  
    border: 2px solid rgb(99, 94, 50);
    border-radius: 5px; 
    width: 5%; 
}

