body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1cm;
    color: green;
    background-color: black;
    border: 2px solid powderblue;
    width: 50%;
    align-items: center;

}

div.botao{
    color:green;
    font-weight: bold;
    background-color:honeydew;  
    border: 2px solid rgb(99, 94, 50);
    border-radius: 5px; 
<<<<<<< HEAD
    width: 50px; 
=======
    width:60%; 
>>>>>>> 682b3dee294cd9d99c60918600abc97c081aebe8
}

